/* global colours */
:root {
    --brand: #4141C7;
    --brand-alt: #3434AD;
    --action: #4B4B83;
    --action-alt: #3C3C68;
    --base-lightest: #FDFDFE;
    --base-lighter: #F1F1F8;
    --base-light: #E4E4F1;
    --base-mid: #AEAEC3;
    --base-dark: #1C1C35;
    --base-darker: #151528
    --base-darkest: #07070D;
    --text: --black;
}
/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
  }
 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Rubik", sans-serif;
  }
 
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
 
  ol,
  ul {
    list-style: none;
  }
 
  img {
    max-width: 100%;
    height: auto;
  }
 
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

/* default font style */
html, body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* colour styles */
.brand {
    background-color: var(--brand);
}

.brand-alt {
    background-color: var(--brand-alt);
}

.action {
    background-color: var(--action);
}

.action-alt {
    background-color: var(--action-alt);
}

.base-darkest {
    background-color: var(--base-darkest);
}

.base-darker {
    background-color: var(--base-darker);
}

.base-dark {
    background-color: var(--base-dark);
}

.base-mid {
    background-color: var(--base-mid);
}

.base-light {
    background-color: var(--base-light);
}

.base-lighter {
    background-color: var(--base-lighter);
}

.base-lightest {
    background-color: var(--base-lightest);
}

/* Utilities */
.display-none {
    display: none;
 }

 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 html {
    scroll-behavior: smooth;
 }

 body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--base-lightest);
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
 }

 a {
    color: var(--text);
    text-decoration: none;
 }

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--brand);
    color: var(--text);
    padding: 0 20px;
    margin: 0;
}

.flags {
    padding: 5px;
    
}

/* Navbar */

nav .left {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 5px;
    
}

details .burger-icon {
    transition: transform 0.1s;
    width: 24px;
    height: 24px;
    padding: 2px;
}

details[open] .burger-icon {
    transform: rotate(90deg);
}
  
summary, 
details ul {
    display: flex;
    list-style-type: none;
}

header nav ul {
    display: flex;
    gap: 24px;
    margin-right: 16px;
  }

/* Section 1: Acknowledgement */

.acknowledgement {
    padding: 1rem;
    
}

.acknowledgement h2 {
    
}
/* Section 2: Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 20px 0;
    gap: 20px;
}

.hero .hero-text {
    flex: 4;
}

.hero .hero-text h1 {
    font-size: 40px;
}
.hero .hero-text p {
    margin-top: 5px;
}
.hero .hero-text .hero-links {
    margin-top: 15px;
}

.hero .hero-text .hero-links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--action);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
    font-size: 15px;
}

.hero .hero-text .hero-links a:hover {
    color: var(--action);
    background-color: var(--base-mid);
} 

.hero .hero-image {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero .hero-image img {
    border-radius: 50%;
    width: 350px;
}

/* Section 3: About */
.bio-text a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--action);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
    font-size: 15px;
}

.hero .hero-text .hero-links a:hover {
    color: var(--action);
    background-color: var(--base-mid);
} 

@media (max-width: 720px) {
    /* Header */
    header {
      display: flex;
      justify-content: space-between;
      
    }
  
    details[open] #menu {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 400;
    }

    header nav ul {
      display: flex;
      gap: 24px;
      margin-right: 16px;
    }
    /* Section 2: Hero */
    .hero .hero-text h1 {
        font-size: 30px;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero .hero-image img {
        width: 250px;
    }
  }
  
@media (max-width: 480px) {
    /* Header */
    header {
        padding: 0 10px;
    }

    details[open] #menu {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 400;
    }

    .flags {
        padding: 0.2rem;
        /* need to make flags go smaller */
        
    }
     /* Section 2: Hero */
    .hero .hero-text h1 {
        font-size: 20px;
    }

    .hero {
        padding: 0
    }
}
   
 
/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span {
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
}